* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gruppo", cursive;
}

body {
  background-color: #f3f3f3;
}

.title {
  text-align: center;
  margin: 1.2rem;
  font-size: 3rem;
  font-family: "Black Ops One", cursive;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.container .btn {
  font-size: inherit;
  background-color: #1e441e;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2rem;
  color: #f2f2f2;
}

.container .btn:hover,
.container .btn:focus {
  background-color: #4baa4b;
}

.container .battleship-grid {
  margin: 2vmin;
  display: -ms-grid;
  display: grid;
  background-color: #00aaff;
  grid-template-rows: repeat(10, 5.3vmin);
  grid-template-columns: repeat(10, 5.3vmin);
}

.container .grid-computer > .taken,
.container .grid-computer > .bomm {
  background-color: #00aaff;
  border-radius: 0;
}
.container .grid-computer > div {
  cursor: url("./assets/aim.png"), crosshair;
}
.container .ship {
  cursor: move;
}

.container .taken,
.container .ship {
  position: relative;
  background-color: #ccc;
}

.container .taken.vertical::before,
.container .taken.horizontal::before {
  content: "";
  position: absolute;
  border: 0.3vmin solid white;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.container .taken.start.vertical,
.container .taken.start.vertical::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.container .taken.end.vertical,
.container .taken.end.vertical::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.container .taken.start.horizontal,
.container .taken.strat.horizontal::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.container .taken.end.horizontal,
.container .taken.end.horizontal::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.container .taken.horizontal::before {
  animation: ripplesX 3s linear infinite;
  border-left: none;
  border-right: none;
}

.container .taken.vertical::before {
  animation: ripplesY 3s linear infinite;
  border-top: none;
  border-bottom: none;
}

@keyframes ripplesX {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleX(1);
    tranform: scaleX(1.5);
  }
}

@keyframes ripplesY {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(1.5);
    transform: scaleY(1.5);
  }
}

.container .grid-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.container .ship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.container .battleship-grid div {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.destroyer-container {
  --width: 2;
}

.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}

.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
  font-family: "Black Ops One", cursive;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: #fff;
}
.boom::after {
  background-color: #f00;
}

.miss::before {
  content: "";
  position: absolute;
  animation: hit 0.2s ease-out forwards;
  border: 1vmin solid #fff;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.boom {
  animation: boom 0.2s ease-out forwards;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes boom {
  0% {
    background-color: #f00;
  }
  100% {
    background-color: hsl(0, 0%, 80%);
  }
}

.start-display {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  z-index: 9999;
  background: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 67L13.7 70C27.3 73 54.7 79 82 82C109.3 85 136.7 85 163.8 87C191 89 218 93 245.2 88C272.3 83 299.7 69 327 65C354.3 61 381.7 67 409 69C436.3 71 463.7 69 491 78C518.3 87 545.7 107 573 120C600.3 133 627.7 139 654.8 143C682 147 709 149 736.2 141C763.3 133 790.7 115 818 101C845.3 87 872.7 77 886.3 72L900 67L900 0L886.3 0C872.7 0 845.3 0 818 0C790.7 0 763.3 0 736.2 0C709 0 682 0 654.8 0C627.7 0 600.3 0 573 0C545.7 0 518.3 0 491 0C463.7 0 436.3 0 409 0C381.7 0 354.3 0 327 0C299.7 0 272.3 0 245.2 0C218 0 191 0 163.8 0C136.7 0 109.3 0 82 0C54.7 0 27.3 0 13.7 0L0 0Z' fill='%23282ba1'%3E%3C/path%3E%3Cpath d='M0 379L13.7 367C27.3 355 54.7 331 82 307C109.3 283 136.7 259 163.8 261C191 263 218 291 245.2 298C272.3 305 299.7 291 327 300C354.3 309 381.7 341 409 344C436.3 347 463.7 321 491 317C518.3 313 545.7 331 573 337C600.3 343 627.7 337 654.8 337C682 337 709 343 736.2 327C763.3 311 790.7 273 818 245C845.3 217 872.7 199 886.3 190L900 181L900 65L886.3 70C872.7 75 845.3 85 818 99C790.7 113 763.3 131 736.2 139C709 147 682 145 654.8 141C627.7 137 600.3 131 573 118C545.7 105 518.3 85 491 76C463.7 67 436.3 69 409 67C381.7 65 354.3 59 327 63C299.7 67 272.3 81 245.2 86C218 91 191 87 163.8 85C136.7 83 109.3 83 82 80C54.7 77 27.3 71 13.7 68L0 65Z' fill='%23000d6f'%3E%3C/path%3E%3Cpath d='M0 421L13.7 413C27.3 405 54.7 389 82 377C109.3 365 136.7 357 163.8 355C191 353 218 357 245.2 365C272.3 373 299.7 385 327 396C354.3 407 381.7 417 409 409C436.3 401 463.7 375 491 377C518.3 379 545.7 409 573 423C600.3 437 627.7 435 654.8 431C682 427 709 421 736.2 400C763.3 379 790.7 343 818 320C845.3 297 872.7 287 886.3 282L900 277L900 179L886.3 188C872.7 197 845.3 215 818 243C790.7 271 763.3 309 736.2 325C709 341 682 335 654.8 335C627.7 335 600.3 341 573 335C545.7 329 518.3 311 491 315C463.7 319 436.3 345 409 342C381.7 339 354.3 307 327 298C299.7 289 272.3 303 245.2 296C218 289 191 261 163.8 259C136.7 257 109.3 281 82 305C54.7 329 27.3 353 13.7 365L0 377Z' fill='%23001159'%3E%3C/path%3E%3Cpath d='M0 529L13.7 529C27.3 529 54.7 529 82 528C109.3 527 136.7 525 163.8 526C191 527 218 531 245.2 529C272.3 527 299.7 519 327 520C354.3 521 381.7 531 409 539C436.3 547 463.7 553 491 552C518.3 551 545.7 543 573 534C600.3 525 627.7 515 654.8 512C682 509 709 513 736.2 512C763.3 511 790.7 505 818 509C845.3 513 872.7 527 886.3 534L900 541L900 275L886.3 280C872.7 285 845.3 295 818 318C790.7 341 763.3 377 736.2 398C709 419 682 425 654.8 429C627.7 433 600.3 435 573 421C545.7 407 518.3 377 491 375C463.7 373 436.3 399 409 407C381.7 415 354.3 405 327 394C299.7 383 272.3 371 245.2 363C218 355 191 351 163.8 353C136.7 355 109.3 363 82 375C54.7 387 27.3 403 13.7 411L0 419Z' fill='%23000d6f'%3E%3C/path%3E%3Cpath d='M0 601L13.7 601C27.3 601 54.7 601 82 601C109.3 601 136.7 601 163.8 601C191 601 218 601 245.2 601C272.3 601 299.7 601 327 601C354.3 601 381.7 601 409 601C436.3 601 463.7 601 491 601C518.3 601 545.7 601 573 601C600.3 601 627.7 601 654.8 601C682 601 709 601 736.2 601C763.3 601 790.7 601 818 601C845.3 601 872.7 601 886.3 601L900 601L900 539L886.3 532C872.7 525 845.3 511 818 507C790.7 503 763.3 509 736.2 510C709 511 682 507 654.8 510C627.7 513 600.3 523 573 532C545.7 541 518.3 549 491 550C463.7 551 436.3 545 409 537C381.7 529 354.3 519 327 518C299.7 517 272.3 525 245.2 527C218 529 191 525 163.8 524C136.7 523 109.3 525 82 526C54.7 527 27.3 527 13.7 527L0 527Z' fill='%23282ba1'%3E%3C/path%3E%3C/svg%3E")
    #c3c3c3 no-repeat;
  background-size: cover;
  transition: all 1s ease-out;
}

.start-display h1 {
  font-family: "Black Ops One", cursive;
  font-size: 6rem;
  text-decoration: underline;
  color: #f3f3f3;
}

.start-display button {
  padding: 1rem 0.4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(62, 121, 73);
  color: #f3f3f3;
  transition: background 0.4s ease;
}
.start-display button:hover {
  background: rgba(62, 121, 73, 0.8);
  color: #333333;
}
